html, body{
    background-color: rgb(240, 240, 240);
}

.pure-u-1 {
    width: 100vw;
    height: 5vw;
    text-align: center;
}

.pure-u-1-2 {
    margin-top: 30px;
    height: 50vw;
}

